/* Showcase Area */
#back-img{
    background-image:  url(../assets/backgrounds/h_img.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 20%;
    
}
.mouse{
    padding-top: 10%;
}
.text-center{
    line-height: 5vh;
}
.services{
    background-image:  url(../assets/backgrounds/s_image.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.services-cont{
    padding-top: 5%;
}

.design-text{
    display: none;
}

.development-text{
    display: none;
}

.product-text{
    display: none;
}
.social{
    background-image:  url(../assets/backgrounds/c_image.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
}